<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404</title>
	<link rel="icon" type="image/png" href= "/images/Planticly_favicon_16x16px-01.png">
	<link rel="stylesheet" href="/css/planticly.css">

</head>
<body>
	<div class="sidebar">
		<div class="logo">
			<a href="/"><img src="/images/logo.png"></a>
		</div>
		<%- include('partials/partyMenu') %>
		<% if ( user_id ) { %>
			<div class="join">
				<a href="/party">Create New Garden</a>
			</div>
		% } %>

	</div>
	<div class="content">
		<div class="topbar">
			<%- include('partials/userBar') %>
			<div class="search">
				<%- include('partials/searchBar') %>
			</div>
		</div>
		<h2>You requested a resource that was not available.</h2>

</body>
</html>
