<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planticly</title>
    <link rel="icon" type="image/png" href= "/images/Planticly_favicon_16x16px-01.png">
    <link rel="stylesheet" href="/css/planticly.css">

</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <a href="/"><img src="/images/logo.png"></a>
        </div>

        <%- include('partials/partyMenu') %>

        <% if ( user_id ) { %>
			<div class="join">
				<a href="/party">Create New Garden</a>
			</div>
		<% } %>

    </div>
    <div class="content">
        <div class="topbar">
            <%- include('partials/userBar') %>
            <div class="search">
               <%- include('partials/searchBar') %>
            </div>
        </div>
        <div class="createParty">  
            <form id="partyCreation" action="/party<%= parent_id ? '/' + parent_id + '/new' : '' %>" method="post">
                <% if ( parent_id ) { %>
				<h3>Create a new Sub Garden</h3>
				<% } else { %>
				<h3>Create New Garden</h3>
				<% } %>
                <fieldset>
                    <input placeholder="Garden Title" name="name" type="text" tabindex="2" style="width:100%" required><br><br>
                    <textarea placeholder="Party Description" name="description" tabindex="5" required style="width:100%;" rows="5" cols="50"></textarea>
                    <br><br>
                    <button type="submit">Start a new Garden!</button>
                </fieldset>
                <br>
                <div>
                    
                </div>
            </form>
        </div>
        </div>
    </div>
</body>
</html>